In [1]:
import numpy as np
from random import seed, random

In [4]:
# Initializing NN

def initialize_network(n_inputs, n_hidden, n_outputs):
    """ 
    Initializes a nn with only one hidden layer.
    Args: 
    - n_inputs: how many input values will be put into this neural network. This is the amount of neurons in the input layer essentially
    - n_hidden: how many neurons will be in the hidden layer of the nn.
    - n_outputs: how many different types of output values can the nn give.
    returns:
    - network (list) - list of 3 layers with each element in list being its own list of neurons in the layer. 
    The neurons then consist of a dictionary with a weights key correlating to a list of randomly initialized weights value.
    Remember each neuron in a layer has a correlating weight for every single neuron in the previous layer
    Also in the hidden and output layer one extra weight is initialized which is the bias term of the neuron's weight activation calculation.
    """
    network = list()
    hidden_layer = [{'weights':[random() for i in range(n_inputs + 1)]} for i in range(n_hidden)]
    network.append(hidden_layer)
    output_layer = [{'weights':[random() for i in range(n_hidden + 1)]} for i in range(n_outputs)]
    network.append(output_layer)
    return network

In [5]:
seed(1)
network = initialize_network(2,1,2)
for layer in network:
    print(layer)

[{'weights': [0.13436424411240122, 0.8474337369372327, 0.763774618976614]}]
[{'weights': [0.2550690257394217, 0.49543508709194095]}, {'weights': [0.4494910647887381, 0.651592972722763]}]

The activation function is just multiplying the previous neurons' activation values by their correlating weight value and summing the products. Then just add the bias term to the sum.

Math formula for activation:

$n$ = number of neurons in previous layer
$$a(\text{some output}) = \sigma(w_0a_0+w_1a_1+...+w_na_n+b)$$

In [19]:
def activate(weights, inputs):
    return np.dot(weights[:-1], inputs) + weights[-1]

## random input with activation function
inputs = [.034, .553]
activation_ex = activate(network[0][0]['weights'], inputs)
print(activation_ex)

1.2369738598027253

The transfer function is there to basically just normalize activation value around [0,1]
The most commonly used one is the sigmoid function which can be defined as:
$$
\sigma(a) = \frac{1}{1+e^{-a}}
$$

In [14]:
def transfer(activation):
    return 1.0/(1.0+np.exp(-activation))

trans_ex = transfer(activation_ex)
print(trans_ex)

0.7750368315543618

In [46]:
def forward_propagate(network, row):
    """ 
    This is the actual process of inputting a set of values into the neurarl network and it calculating the output values.
    Args:
    - network (list) : previously made network list.
    - row (list) : list of input activation values to enter into the nn.
    returns:
    - inputs (list) : list of output activation values for the nn.
    """
    inputs = row
    for layer in network:
        new_inputs = []
        for neuron in layer:
            activation = activate(neuron['weights'], inputs)
            neuron["output"] = transfer(activation)
            new_inputs.append(neuron['output'])
        inputs = new_inputs
    return inputs

In [21]:
row = [1, 0]
forward_propagate(network, row)

[0.6629970129852887, 0.7253160725279748]

In [23]:
def transfer_derivative(output):
    """
    basically all you are doing here is calculating del(a^(L)/del(z^(L))), i feel like it would be more accurate to say this is the
    derivative of the activation.
    """
    return output * (1.0-output)

In [25]:
def delta_calc(output, expected):
    """ 
    This part essentially calculates del(C0)/del(z^(L)) or the change in the cost function in relation to the activation function.
    """
    return 2*(output-expected) * transfer_derivative(output)

In [55]:
def propagate_backwards_error(network, expected):
    """ 
    Basic basic form of back propogation that doesn't change bias.
    """
    for L in reversed(range(len(network))):
        layer = network[L]
        errors = list()
        if L == len(network)-1: # if the layer is the last layer 
            for j,neuron in enumerate(layer):
                error = 2*(neuron['output']-expected[j]) # Calculates error for output term
                errors.append(error)
        else: # If layer is not last layer
            for j in range(len(layer)): # Go through every neuron
                error = 0.0 
                for neuron in network[L+1]:
                    error += (neuron['weights'][j]) * neuron['delta']
                errors.append(error)
        for j,neuron in enumerate(layer): # Goes through all outputs on last layer
                neuron['delta'] = errors[j] * transfer_derivative(neuron['output']) # Creates change vector

In [40]:
# revert network incase of bugs
network = [[{'output': 0.7105668883115941, 'weights': [0.13436424411240122, 0.8474337369372327, 0.763774618976614]}],
 [{'output': 0.6213859615555266, 'weights': [0.2550690257394217, 0.49543508709194095]}, {'output': 0.6573693455986976, 'weights': [0.4494910647887381, 0.651592972722763]}]]

In [41]:
expected = [0, 1]
propagate_backwards_error(network, expected)

In [42]:
network

[[{'output': 0.7105668883115941,
   'weights': [0.13436424411240122, 0.8474337369372327, 0.763774618976614],
   'delta': 0.0010696096093221034}],
 [{'output': 0.6213859615555266,
   'weights': [0.2550690257394217, 0.49543508709194095],
   'delta': 0.29238129367165616},
  {'output': 0.6573693455986976,
   'weights': [0.4494910647887381, 0.651592972722763],
   'delta': -0.1543447548692654}]]

In [43]:
# Update network weights with error
def update_weights(network, row, l_rate):
	for L in range(len(network)): # starting at first layer
		inputs = row 
		if L != 0: # If the layer is not the first
			inputs = [neuron['output'] for neuron in network[L - 1]] # updates inputs to be activations of last layer
		for neuron in network[L]: # for every neuron in this layer
			for j in range(len(inputs)):
				neuron['weights'][j] -= l_rate * neuron['delta'] * inputs[j] # updates weights (you are subtracting because you want the error lower)
			neuron['weights'][-1] -= l_rate * neuron['delta'] # updates bias, change in bias in relation to sum its just one.

In [53]:
import timeit
def train_network(network, train, l_rate, n_epoch, n_outputs):
	for epoch in range(n_epoch):
		start = timeit.timeit()
		print("Starting epoch:", epoch)
		sum_error = 0
		for row in train: # for every training example given
			inputs = row[:-1]
			outputs = forward_propagate(network, inputs) # Get outputs of inputs
			expected = [0 for i in range(n_outputs)] # creates list of 0 for every output
			expected[row[-1]] = 1 # sets the answer of the input to be 1 in the expected vector
			sum_error += sum([(expected[i]-outputs[i])**2 for i in range(len(expected))]) 
			propagate_backwards_error(network, expected)
			update_weights(network, row, l_rate)
		end = timeit.timeit()
		print('>epoch=%d, lrate=%.3f, error=%.3f, time elapsed=%.3f' % (epoch, l_rate, sum_error, (end-start)))

In [48]:
dataset = [[2.7810836,2.550537003,0],
 [1.465489372,2.362125076,0],
 [3.396561688,4.400293529,0],
 [1.38807019,1.850220317,0],
 [3.06407232,3.005305973,0],
 [7.627531214,2.759262235,1],
 [5.332441248,2.088626775,1],
 [6.922596716,1.77106367,1],
 [8.675418651,-0.242068655,1],
 [7.673756466,3.508563011,1]]

In [49]:
n_inputs = len(dataset[0]) - 1
n_outputs = len(set([row[-1] for row in dataset]))
network = initialize_network(n_inputs, 2, n_outputs)

In [52]:
weights = [0.7887233511355132, 0.0938595867742349, 0.02834747652200631]
weights[:-1]

[0.7887233511355132, 0.0938595867742349]

In [51]:
network

[[{'weights': [0.7887233511355132, 0.0938595867742349, 0.02834747652200631]},
  {'weights': [0.8357651039198697, 0.43276706790505337, 0.762280082457942]}],
 [{'weights': [0.0021060533511106927, 0.4453871940548014, 0.7215400323407826]},
  {'weights': [0.22876222127045265, 0.9452706955539223, 0.9014274576114836]}]]

In [56]:
train_network(network, dataset, 0.5, 20, n_outputs)

Starting epoch: 0
>epoch=0, lrate=0.500, error=6.399, time elapsed=0.000
Starting epoch: 1
>epoch=1, lrate=0.500, error=5.641, time elapsed=-0.000
Starting epoch: 2
>epoch=2, lrate=0.500, error=5.598, time elapsed=-0.000
Starting epoch: 3
>epoch=3, lrate=0.500, error=5.560, time elapsed=-0.000
Starting epoch: 4
>epoch=4, lrate=0.500, error=5.477, time elapsed=-0.000
Starting epoch: 5
>epoch=5, lrate=0.500, error=5.256, time elapsed=-0.000
Starting epoch: 6
>epoch=6, lrate=0.500, error=4.848, time elapsed=0.000
Starting epoch: 7
>epoch=7, lrate=0.500, error=4.428, time elapsed=0.000
Starting epoch: 8
>epoch=8, lrate=0.500, error=3.955, time elapsed=-0.000
Starting epoch: 9
>epoch=9, lrate=0.500, error=3.476, time elapsed=-0.000
Starting epoch: 10
>epoch=10, lrate=0.500, error=3.002, time elapsed=0.000
Starting epoch: 11
>epoch=11, lrate=0.500, error=2.531, time elapsed=-0.000
Starting epoch: 12
>epoch=12, lrate=0.500, error=2.140, time elapsed=0.000
Starting epoch: 13
>epoch=13, lrate=0.500, error=1.763, time elapsed=0.000
Starting epoch: 14
>epoch=14, lrate=0.500, error=1.471, time elapsed=-0.001
Starting epoch: 15
>epoch=15, lrate=0.500, error=1.258, time elapsed=-0.000
Starting epoch: 16
>epoch=16, lrate=0.500, error=1.093, time elapsed=0.000
Starting epoch: 17
>epoch=17, lrate=0.500, error=0.958, time elapsed=0.000
Starting epoch: 18
>epoch=18, lrate=0.500, error=0.848, time elapsed=-0.000
Starting epoch: 19
>epoch=19, lrate=0.500, error=0.758, time elapsed=0.000

In [57]:
network

[[{'weights': [1.6929903483941775, -2.6037805953745474, -0.25898733196259016],
   'output': 0.9613118549459109,
   'delta': -0.010500887202609983},
  {'weights': [0.8359447344301513, 0.45089593001563344, 0.7713891257718044],
   'output': 0.9998444633443719,
   'delta': 6.86806038476142e-06}],
 [{'weights': [-3.375976277605466, 0.4784925052614799, 1.0162136155613617],
   'output': 0.1556546786659818,
   'delta': 0.04091423688845803},
  {'weights': [3.1435861558255827, -0.4879185769545255, -0.8591740224799083],
   'output': 0.8329977560176469,
   'delta': -0.04646419749069415}]]

In [60]:
import pandas as pd 

seeds = pd.read_csv('wheat-seeds.csv', header=None)
seeds

         0      1       2      3      4      5      6  7
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
..     ...    ...     ...    ...    ...    ...    ... ..
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870  3
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003  3
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056  3
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044  3
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063  3

[210 rows x 8 columns]

In [65]:
for index, row in seeds.iterrows():
    print(row)

0    15.260
1    14.840
2     0.871
3     5.763
4     3.312
5     2.221
6     5.220
7     1.000
Name: 0, dtype: float64
0    14.8800
1    14.5700
2     0.8811
3     5.5540
4     3.3330
5     1.0180
6     4.9560
7     1.0000
Name: 1, dtype: float64
0    14.290
1    14.090
2     0.905
3     5.291
4     3.337
5     2.699
6     4.825
7     1.000
Name: 2, dtype: float64
0    13.8400
1    13.9400
2     0.8955
3     5.3240
4     3.3790
5     2.2590
6     4.8050
7     1.0000
Name: 3, dtype: float64
0    16.1400
1    14.9900
2     0.9034
3     5.6580
4     3.5620
5     1.3550
6     5.1750
7     1.0000
Name: 4, dtype: float64
0    14.3800
1    14.2100
2     0.8951
3     5.3860
4     3.3120
5     2.4620
6     4.9560
7     1.0000
Name: 5, dtype: float64
0    14.6900
1    14.4900
2     0.8799
3     5.5630
4     3.2590
5     3.5860
6     5.2190
7     1.0000
Name: 6, dtype: float64
0    14.1100
1    14.1000
2     0.8911
3     5.4200
4     3.3020
5     2.7000
6     5.0000
7     1.0000
Name: 7, dtype: float64
0    16.6300
1    15.4600
2     0.8747
3     6.0530
4     3.4650
5     2.0400
6     5.8770
7     1.0000
Name: 8, dtype: float64
0    16.440
1    15.250
2     0.888
3     5.884
4     3.505
5     1.969
6     5.533
7     1.000
Name: 9, dtype: float64
0    15.2600
1    14.8500
2     0.8696
3     5.7140
4     3.2420
5     4.5430
6     5.3140
7     1.0000
Name: 10, dtype: float64
0    14.0300
1    14.1600
2     0.8796
3     5.4380
4     3.2010
5     1.7170
6     5.0010
7     1.0000
Name: 11, dtype: float64
0    13.890
1    14.020
2     0.888
3     5.439
4     3.199
5     3.986
6     4.738
7     1.000
Name: 12, dtype: float64
0    13.7800
1    14.0600
2     0.8759
3     5.4790
4     3.1560
5     3.1360
6     4.8720
7     1.0000
Name: 13, dtype: float64
0    13.7400
1    14.0500
2     0.8744
3     5.4820
4     3.1140
5     2.9320
6     4.8250
7     1.0000
Name: 14, dtype: float64
0    14.5900
1    14.2800
2     0.8993
3     5.3510
4     3.3330
5     4.1850
6     4.7810
7     1.0000
Name: 15, dtype: float64
0    13.9900
1    13.8300
2     0.9183
3     5.1190
4     3.3830
5     5.2340
6     4.7810
7     1.0000
Name: 16, dtype: float64
0    15.6900
1    14.7500
2     0.9058
3     5.5270
4     3.5140
5     1.5990
6     5.0460
7     1.0000
Name: 17, dtype: float64
0    14.7000
1    14.2100
2     0.9153
3     5.2050
4     3.4660
5     1.7670
6     4.6490
7     1.0000
Name: 18, dtype: float64
0    12.7200
1    13.5700
2     0.8686
3     5.2260
4     3.0490
5     4.1020
6     4.9140
7     1.0000
Name: 19, dtype: float64
0    14.1600
1    14.4000
2     0.8584
3     5.6580
4     3.1290
5     3.0720
6     5.1760
7     1.0000
Name: 20, dtype: float64
0    14.1100
1    14.2600
2     0.8722
3     5.5200
4     3.1680
5     2.6880
6     5.2190
7     1.0000
Name: 21, dtype: float64
0    15.8800
1    14.9000
2     0.8988
3     5.6180
4     3.5070
5     0.7651
6     5.0910
7     1.0000
Name: 22, dtype: float64
0    12.0800
1    13.2300
2     0.8664
3     5.0990
4     2.9360
5     1.4150
6     4.9610
7     1.0000
Name: 23, dtype: float64
0    15.0100
1    14.7600
2     0.8657
3     5.7890
4     3.2450
5     1.7910
6     5.0010
7     1.0000
Name: 24, dtype: float64
0    16.1900
1    15.1600
2     0.8849
3     5.8330
4     3.4210
5     0.9030
6     5.3070
7     1.0000
Name: 25, dtype: float64
0    13.0200
1    13.7600
2     0.8641
3     5.3950
4     3.0260
5     3.3730
6     4.8250
7     1.0000
Name: 26, dtype: float64
0    12.7400
1    13.6700
2     0.8564
3     5.3950
4     2.9560
5     2.5040
6     4.8690
7     1.0000
Name: 27, dtype: float64
0    14.110
1    14.180
2     0.882
3     5.541
4     3.221
5     2.754
6     5.038
7     1.000
Name: 28, dtype: float64
0    13.4500
1    14.0200
2     0.8604
3     5.5160
4     3.0650
5     3.5310
6     5.0970
7     1.0000
Name: 29, dtype: float64
0    13.1600
1    13.8200
2     0.8662
3     5.4540
4     2.9750
5     0.8551
6     5.0560
7     1.0000
Name: 30, dtype: float64
0    15.4900
1    14.9400
2     0.8724
3     5.7570
4     3.3710
5     3.4120
6     5.2280
7     1.0000
Name: 31, dtype: float64
0    14.0900
1    14.4100
2     0.8529
3     5.7170
4     3.1860
5     3.9200
6     5.2990
7     1.0000
Name: 32, dtype: float64
0    13.9400
1    14.1700
2     0.8728
3     5.5850
4     3.1500
5     2.1240
6     5.0120
7     1.0000
Name: 33, dtype: float64
0    15.0500
1    14.6800
2     0.8779
3     5.7120
4     3.3280
5     2.1290
6     5.3600
7     1.0000
Name: 34, dtype: float64
0    16.120
1    15.000
2     0.900
3     5.709
4     3.485
5     2.270
6     5.443
7     1.000
Name: 35, dtype: float64
0    16.2000
1    15.2700
2     0.8734
3     5.8260
4     3.4640
5     2.8230
6     5.5270
7     1.0000
Name: 36, dtype: float64
0    17.0800
1    15.3800
2     0.9079
3     5.8320
4     3.6830
5     2.9560
6     5.4840
7     1.0000
Name: 37, dtype: float64
0    14.8000
1    14.5200
2     0.8823
3     5.6560
4     3.2880
5     3.1120
6     5.3090
7     1.0000
Name: 38, dtype: float64
0    14.2800
1    14.1700
2     0.8944
3     5.3970
4     3.2980
5     6.6850
6     5.0010
7     1.0000
Name: 39, dtype: float64
0    13.5400
1    13.8500
2     0.8871
3     5.3480
4     3.1560
5     2.5870
6     5.1780
7     1.0000
Name: 40, dtype: float64
0    13.5000
1    13.8500
2     0.8852
3     5.3510
4     3.1580
5     2.2490
6     5.1760
7     1.0000
Name: 41, dtype: float64
0    13.1600
1    13.5500
2     0.9009
3     5.1380
4     3.2010
5     2.4610
6     4.7830
7     1.0000
Name: 42, dtype: float64
0    15.500
1    14.860
2     0.882
3     5.877
4     3.396
5     4.711
6     5.528
7     1.000
Name: 43, dtype: float64
0    15.1100
1    14.5400
2     0.8986
3     5.5790
4     3.4620
5     3.1280
6     5.1800
7     1.0000
Name: 44, dtype: float64
0    13.8000
1    14.0400
2     0.8794
3     5.3760
4     3.1550
5     1.5600
6     4.9610
7     1.0000
Name: 45, dtype: float64
0    15.3600
1    14.7600
2     0.8861
3     5.7010
4     3.3930
5     1.3670
6     5.1320
7     1.0000
Name: 46, dtype: float64
0    14.9900
1    14.5600
2     0.8883
3     5.5700
4     3.3770
5     2.9580
6     5.1750
7     1.0000
Name: 47, dtype: float64
0    14.7900
1    14.5200
2     0.8819
3     5.5450
4     3.2910
5     2.7040
6     5.1110
7     1.0000
Name: 48, dtype: float64
0    14.8600
1    14.6700
2     0.8676
3     5.6780
4     3.2580
5     2.1290
6     5.3510
7     1.0000
Name: 49, dtype: float64
0    14.4300
1    14.4000
2     0.8751
3     5.5850
4     3.2720
5     3.9750
6     5.1440
7     1.0000
Name: 50, dtype: float64
0    15.7800
1    14.9100
2     0.8923
3     5.6740
4     3.4340
5     5.5930
6     5.1360
7     1.0000
Name: 51, dtype: float64
0    14.4900
1    14.6100
2     0.8538
3     5.7150
4     3.1130
5     4.1160
6     5.3960
7     1.0000
Name: 52, dtype: float64
0    14.3300
1    14.2800
2     0.8831
3     5.5040
4     3.1990
5     3.3280
6     5.2240
7     1.0000
Name: 53, dtype: float64
0    14.5200
1    14.6000
2     0.8557
3     5.7410
4     3.1130
5     1.4810
6     5.4870
7     1.0000
Name: 54, dtype: float64
0    15.0300
1    14.7700
2     0.8658
3     5.7020
4     3.2120
5     1.9330
6     5.4390
7     1.0000
Name: 55, dtype: float64
0    14.4600
1    14.3500
2     0.8818
3     5.3880
4     3.3770
5     2.8020
6     5.0440
7     1.0000
Name: 56, dtype: float64
0    14.9200
1    14.4300
2     0.9006
3     5.3840
4     3.4120
5     1.1420
6     5.0880
7     1.0000
Name: 57, dtype: float64
0    15.3800
1    14.7700
2     0.8857
3     5.6620
4     3.4190
5     1.9990
6     5.2220
7     1.0000
Name: 58, dtype: float64
0    12.1100
1    13.4700
2     0.8392
3     5.1590
4     3.0320
5     1.5020
6     4.5190
7     1.0000
Name: 59, dtype: float64
0    11.4200
1    12.8600
2     0.8683
3     5.0080
4     2.8500
5     2.7000
6     4.6070
7     1.0000
Name: 60, dtype: float64
0    11.230
1    12.630
2     0.884
3     4.902
4     2.879
5     2.269
6     4.703
7     1.000
Name: 61, dtype: float64
0    12.3600
1    13.1900
2     0.8923
3     5.0760
4     3.0420
5     3.2200
6     4.6050
7     1.0000
Name: 62, dtype: float64
0    13.220
1    13.840
2     0.868
3     5.395
4     3.070
5     4.157
6     5.088
7     1.000
Name: 63, dtype: float64
0    12.7800
1    13.5700
2     0.8716
3     5.2620
4     3.0260
5     1.1760
6     4.7820
7     1.0000
Name: 64, dtype: float64
0    12.8800
1    13.5000
2     0.8879
3     5.1390
4     3.1190
5     2.3520
6     4.6070
7     1.0000
Name: 65, dtype: float64
0    14.3400
1    14.3700
2     0.8726
3     5.6300
4     3.1900
5     1.3130
6     5.1500
7     1.0000
Name: 66, dtype: float64
0    14.0100
1    14.2900
2     0.8625
3     5.6090
4     3.1580
5     2.2170
6     5.1320
7     1.0000
Name: 67, dtype: float64
0    14.3700
1    14.3900
2     0.8726
3     5.5690
4     3.1530
5     1.4640
6     5.3000
7     1.0000
Name: 68, dtype: float64
0    12.7300
1    13.7500
2     0.8458
3     5.4120
4     2.8820
5     3.5330
6     5.0670
7     1.0000
Name: 69, dtype: float64
0    17.6300
1    15.9800
2     0.8673
3     6.1910
4     3.5610
5     4.0760
6     6.0600
7     2.0000
Name: 70, dtype: float64
0    16.8400
1    15.6700
2     0.8623
3     5.9980
4     3.4840
5     4.6750
6     5.8770
7     2.0000
Name: 71, dtype: float64
0    17.2600
1    15.7300
2     0.8763
3     5.9780
4     3.5940
5     4.5390
6     5.7910
7     2.0000
Name: 72, dtype: float64
0    19.1100
1    16.2600
2     0.9081
3     6.1540
4     3.9300
5     2.9360
6     6.0790
7     2.0000
Name: 73, dtype: float64
0    16.8200
1    15.5100
2     0.8786
3     6.0170
4     3.4860
5     4.0040
6     5.8410
7     2.0000
Name: 74, dtype: float64
0    16.7700
1    15.6200
2     0.8638
3     5.9270
4     3.4380
5     4.9200
6     5.7950
7     2.0000
Name: 75, dtype: float64
0    17.3200
1    15.9100
2     0.8599
3     6.0640
4     3.4030
5     3.8240
6     5.9220
7     2.0000
Name: 76, dtype: float64
0    20.7100
1    17.2300
2     0.8763
3     6.5790
4     3.8140
5     4.4510
6     6.4510
7     2.0000
Name: 77, dtype: float64
0    18.940
1    16.490
2     0.875
3     6.445
4     3.639
5     5.064
6     6.362
7     2.000
Name: 78, dtype: float64
0    17.1200
1    15.5500
2     0.8892
3     5.8500
4     3.5660
5     2.8580
6     5.7460
7     2.0000
Name: 79, dtype: float64
0    16.5300
1    15.3400
2     0.8823
3     5.8750
4     3.4670
5     5.5320
6     5.8800
7     2.0000
Name: 80, dtype: float64
0    18.7200
1    16.1900
2     0.8977
3     6.0060
4     3.8570
5     5.3240
6     5.8790
7     2.0000
Name: 81, dtype: float64
0    20.2000
1    16.8900
2     0.8894
3     6.2850
4     3.8640
5     5.1730
6     6.1870
7     2.0000
Name: 82, dtype: float64
0    19.5700
1    16.7400
2     0.8779
3     6.3840
4     3.7720
5     1.4720
6     6.2730
7     2.0000
Name: 83, dtype: float64
0    19.510
1    16.710
2     0.878
3     6.366
4     3.801
5     2.962
6     6.185
7     2.000
Name: 84, dtype: float64
0    18.270
1    16.090
2     0.887
3     6.173
4     3.651
5     2.443
6     6.197
7     2.000
Name: 85, dtype: float64
0    18.8800
1    16.2600
2     0.8969
3     6.0840
4     3.7640
5     1.6490
6     6.1090
7     2.0000
Name: 86, dtype: float64
0    18.980
1    16.660
2     0.859
3     6.549
4     3.670
5     3.691
6     6.498
7     2.000
Name: 87, dtype: float64
0    21.1800
1    17.2100
2     0.8989
3     6.5730
4     4.0330
5     5.7800
6     6.2310
7     2.0000
Name: 88, dtype: float64
0    20.8800
1    17.0500
2     0.9031
3     6.4500
4     4.0320
5     5.0160
6     6.3210
7     2.0000
Name: 89, dtype: float64
0    20.1000
1    16.9900
2     0.8746
3     6.5810
4     3.7850
5     1.9550
6     6.4490
7     2.0000
Name: 90, dtype: float64
0    18.7600
1    16.2000
2     0.8984
3     6.1720
4     3.7960
5     3.1200
6     6.0530
7     2.0000
Name: 91, dtype: float64
0    18.8100
1    16.2900
2     0.8906
3     6.2720
4     3.6930
5     3.2370
6     6.0530
7     2.0000
Name: 92, dtype: float64
0    18.5900
1    16.0500
2     0.9066
3     6.0370
4     3.8600
5     6.0010
6     5.8770
7     2.0000
Name: 93, dtype: float64
0    18.3600
1    16.5200
2     0.8452
3     6.6660
4     3.4850
5     4.9330
6     6.4480
7     2.0000
Name: 94, dtype: float64
0    16.8700
1    15.6500
2     0.8648
3     6.1390
4     3.4630
5     3.6960
6     5.9670
7     2.0000
Name: 95, dtype: float64
0    19.3100
1    16.5900
2     0.8815
3     6.3410
4     3.8100
5     3.4770
6     6.2380
7     2.0000
Name: 96, dtype: float64
0    18.9800
1    16.5700
2     0.8687
3     6.4490
4     3.5520
5     2.1440
6     6.4530
7     2.0000
Name: 97, dtype: float64
0    18.1700
1    16.2600
2     0.8637
3     6.2710
4     3.5120
5     2.8530
6     6.2730
7     2.0000
Name: 98, dtype: float64
0    18.720
1    16.340
2     0.881
3     6.219
4     3.684
5     2.188
6     6.097
7     2.000
Name: 99, dtype: float64
0    16.4100
1    15.2500
2     0.8866
3     5.7180
4     3.5250
5     4.2170
6     5.6180
7     2.0000
Name: 100, dtype: float64
0    17.9900
1    15.8600
2     0.8992
3     5.8900
4     3.6940
5     2.0680
6     5.8370
7     2.0000
Name: 101, dtype: float64
0    19.4600
1    16.5000
2     0.8985
3     6.1130
4     3.8920
5     4.3080
6     6.0090
7     2.0000
Name: 102, dtype: float64
0    19.1800
1    16.6300
2     0.8717
3     6.3690
4     3.6810
5     3.3570
6     6.2290
7     2.0000
Name: 103, dtype: float64
0    18.9500
1    16.4200
2     0.8829
3     6.2480
4     3.7550
5     3.3680
6     6.1480
7     2.0000
Name: 104, dtype: float64
0    18.8300
1    16.2900
2     0.8917
3     6.0370
4     3.7860
5     2.5530
6     5.8790
7     2.0000
Name: 105, dtype: float64
0    18.8500
1    16.1700
2     0.9056
3     6.1520
4     3.8060
5     2.8430
6     6.2000
7     2.0000
Name: 106, dtype: float64
0    17.630
1    15.860
2     0.880
3     6.033
4     3.573
5     3.747
6     5.929
7     2.000
Name: 107, dtype: float64
0    19.9400
1    16.9200
2     0.8752
3     6.6750
4     3.7630
5     3.2520
6     6.5500
7     2.0000
Name: 108, dtype: float64
0    18.5500
1    16.2200
2     0.8865
3     6.1530
4     3.6740
5     1.7380
6     5.8940
7     2.0000
Name: 109, dtype: float64
0    18.4500
1    16.1200
2     0.8921
3     6.1070
4     3.7690
5     2.2350
6     5.7940
7     2.0000
Name: 110, dtype: float64
0    19.3800
1    16.7200
2     0.8716
3     6.3030
4     3.7910
5     3.6780
6     5.9650
7     2.0000
Name: 111, dtype: float64
0    19.1300
1    16.3100
2     0.9035
3     6.1830
4     3.9020
5     2.1090
6     5.9240
7     2.0000
Name: 112, dtype: float64
0    19.1400
1    16.6100
2     0.8722
3     6.2590
4     3.7370
5     6.6820
6     6.0530
7     2.0000
Name: 113, dtype: float64
0    20.9700
1    17.2500
2     0.8859
3     6.5630
4     3.9910
5     4.6770
6     6.3160
7     2.0000
Name: 114, dtype: float64
0    19.0600
1    16.4500
2     0.8854
3     6.4160
4     3.7190
5     2.2480
6     6.1630
7     2.0000
Name: 115, dtype: float64
0    18.9600
1    16.2000
2     0.9077
3     6.0510
4     3.8970
5     4.3340
6     5.7500
7     2.0000
Name: 116, dtype: float64
0    19.150
1    16.450
2     0.889
3     6.245
4     3.815
5     3.084
6     6.185
7     2.000
Name: 117, dtype: float64
0    18.8900
1    16.2300
2     0.9008
3     6.2270
4     3.7690
5     3.6390
6     5.9660
7     2.0000
Name: 118, dtype: float64
0    20.0300
1    16.9000
2     0.8811
3     6.4930
4     3.8570
5     3.0630
6     6.3200
7     2.0000
Name: 119, dtype: float64
0    20.2400
1    16.9100
2     0.8897
3     6.3150
4     3.9620
5     5.9010
6     6.1880
7     2.0000
Name: 120, dtype: float64
0    18.1400
1    16.1200
2     0.8772
3     6.0590
4     3.5630
5     3.6190
6     6.0110
7     2.0000
Name: 121, dtype: float64
0    16.1700
1    15.3800
2     0.8588
3     5.7620
4     3.3870
5     4.2860
6     5.7030
7     2.0000
Name: 122, dtype: float64
0    18.4300
1    15.9700
2     0.9077
3     5.9800
4     3.7710
5     2.9840
6     5.9050
7     2.0000
Name: 123, dtype: float64
0    15.9900
1    14.8900
2     0.9064
3     5.3630
4     3.5820
5     3.3360
6     5.1440
7     2.0000
Name: 124, dtype: float64
0    18.7500
1    16.1800
2     0.8999
3     6.1110
4     3.8690
5     4.1880
6     5.9920
7     2.0000
Name: 125, dtype: float64
0    18.6500
1    16.4100
2     0.8698
3     6.2850
4     3.5940
5     4.3910
6     6.1020
7     2.0000
Name: 126, dtype: float64
0    17.9800
1    15.8500
2     0.8993
3     5.9790
4     3.6870
5     2.2570
6     5.9190
7     2.0000
Name: 127, dtype: float64
0    20.1600
1    17.0300
2     0.8735
3     6.5130
4     3.7730
5     1.9100
6     6.1850
7     2.0000
Name: 128, dtype: float64
0    17.5500
1    15.6600
2     0.8991
3     5.7910
4     3.6900
5     5.3660
6     5.6610
7     2.0000
Name: 129, dtype: float64
0    18.3000
1    15.8900
2     0.9108
3     5.9790
4     3.7550
5     2.8370
6     5.9620
7     2.0000
Name: 130, dtype: float64
0    18.9400
1    16.3200
2     0.8942
3     6.1440
4     3.8250
5     2.9080
6     5.9490
7     2.0000
Name: 131, dtype: float64
0    15.3800
1    14.9000
2     0.8706
3     5.8840
4     3.2680
5     4.4620
6     5.7950
7     2.0000
Name: 132, dtype: float64
0    16.1600
1    15.3300
2     0.8644
3     5.8450
4     3.3950
5     4.2660
6     5.7950
7     2.0000
Name: 133, dtype: float64
0    15.5600
1    14.8900
2     0.8823
3     5.7760
4     3.4080
5     4.9720
6     5.8470
7     2.0000
Name: 134, dtype: float64
0    15.380
1    14.660
2     0.899
3     5.477
4     3.465
5     3.600
6     5.439
7     2.000
Name: 135, dtype: float64
0    17.3600
1    15.7600
2     0.8785
3     6.1450
4     3.5740
5     3.5260
6     5.9710
7     2.0000
Name: 136, dtype: float64
0    15.5700
1    15.1500
2     0.8527
3     5.9200
4     3.2310
5     2.6400
6     5.8790
7     2.0000
Name: 137, dtype: float64
0    15.600
1    15.110
2     0.858
3     5.832
4     3.286
5     2.725
6     5.752
7     2.000
Name: 138, dtype: float64
0    16.230
1    15.180
2     0.885
3     5.872
4     3.472
5     3.769
6     5.922
7     2.000
Name: 139, dtype: float64
0    13.070
1    13.920
2     0.848
3     5.472
4     2.994
5     5.304
6     5.395
7     3.000
Name: 140, dtype: float64
0    13.3200
1    13.9400
2     0.8613
3     5.5410
4     3.0730
5     7.0350
6     5.4400
7     3.0000
Name: 141, dtype: float64
0    13.340
1    13.950
2     0.862
3     5.389
4     3.074
5     5.995
6     5.307
7     3.000
Name: 142, dtype: float64
0    12.2200
1    13.3200
2     0.8652
3     5.2240
4     2.9670
5     5.4690
6     5.2210
7     3.0000
Name: 143, dtype: float64
0    11.8200
1    13.4000
2     0.8274
3     5.3140
4     2.7770
5     4.4710
6     5.1780
7     3.0000
Name: 144, dtype: float64
0    11.2100
1    13.1300
2     0.8167
3     5.2790
4     2.6870
5     6.1690
6     5.2750
7     3.0000
Name: 145, dtype: float64
0    11.4300
1    13.1300
2     0.8335
3     5.1760
4     2.7190
5     2.2210
6     5.1320
7     3.0000
Name: 146, dtype: float64
0    12.4900
1    13.4600
2     0.8658
3     5.2670
4     2.9670
5     4.4210
6     5.0020
7     3.0000
Name: 147, dtype: float64
0    12.7000
1    13.7100
2     0.8491
3     5.3860
4     2.9110
5     3.2600
6     5.3160
7     3.0000
Name: 148, dtype: float64
0    10.7900
1    12.9300
2     0.8107
3     5.3170
4     2.6480
5     5.4620
6     5.1940
7     3.0000
Name: 149, dtype: float64
0    11.8300
1    13.2300
2     0.8496
3     5.2630
4     2.8400
5     5.1950
6     5.3070
7     3.0000
Name: 150, dtype: float64
0    12.0100
1    13.5200
2     0.8249
3     5.4050
4     2.7760
5     6.9920
6     5.2700
7     3.0000
Name: 151, dtype: float64
0    12.2600
1    13.6000
2     0.8333
3     5.4080
4     2.8330
5     4.7560
6     5.3600
7     3.0000
Name: 152, dtype: float64
0    11.1800
1    13.0400
2     0.8266
3     5.2200
4     2.6930
5     3.3320
6     5.0010
7     3.0000
Name: 153, dtype: float64
0    11.3600
1    13.0500
2     0.8382
3     5.1750
4     2.7550
5     4.0480
6     5.2630
7     3.0000
Name: 154, dtype: float64
0    11.1900
1    13.0500
2     0.8253
3     5.2500
4     2.6750
5     5.8130
6     5.2190
7     3.0000